body{
     
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
      
}
.banner{
    background-image: url(/bgport.webp);
    background-size: cover;
    padding: 50px;
}
.pd-4{
    color: purple;
}
.pd-3{
    color: bisque;
}
